Marcin Piątek

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('../Analysis Data/tb_new.csv')

data.drop(columns=['Unnamed: 0','new_sp_mu','new_sp_fu','new_sp'], inplace=True)
data.rename(columns={'iso2':'kraj','year':'rok'}, inplace=True)


data = pd.melt(data, id_vars = ['kraj', 'rok'],var_name='mix', value_name='wystąpień')
data.head()

data = data[data['wystąpień'] != '---']
data['płeć'] = data['mix'].str[7]
data['wiek'] = data['mix'].str[8:].map({
    '04': '0-4',
    '514': '5-14',
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+'
})
data.drop(columns=['mix'], inplace=True)

data = data[['kraj','płeć', 'wiek', 'rok', 'wystąpień']]
data.dropna(inplace=True) 
data.to_csv('../Analysis Data/tb_tidy.csv', index=False)
print(data.head(15))
print(data.tail(15))

    kraj płeć wiek   rok  wystąpień
15    AD    m  0-4  2005        0.0
16    AD    m  0-4  2006        0.0
18    AD    m  0-4  2008        0.0
42    AE    m  0-4  2006        0.0
43    AE    m  0-4  2007        0.0
44    AE    m  0-4  2008        0.0
94    AG    m  0-4  2007        0.0
141   AL    m  0-4  2005        0.0
142   AL    m  0-4  2006        1.0
143   AL    m  0-4  2007        0.0
144   AL    m  0-4  2008        1.0
170   AM    m  0-4  2005        1.0
171   AM    m  0-4  2006        0.0
172   AM    m  0-4  2007        0.0
173   AM    m  0-4  2008        0.0
       kraj płeć wiek   rok  wystąpień
103804   ZM    f  65+  2000       75.0
103806   ZM    f  65+  2002      197.0
103807   ZM    f  65+  2003      243.0
103808   ZM    f  65+  2004      192.0
103809   ZM    f  65+  2005      185.0
103810   ZM    f  65+  2006      122.0
103811   ZM    f  65+  2007      131.0
103812   ZM    f  65+  2008      115.0
103835   ZW    f  65+  2002       65.0
103836   ZW    f  65+  2003      114.0
103837   ZW    f  65+  2004      111.0
103838   ZW    f  65+  2005      603.0
103839   ZW    f  65+  2006       96.0
103840   ZW    f  65+  2007       90.0
103841   ZW    f  65+  2008      105.0