## Marcin Piątek 400038 Lab 2

### Import danych

In [12]:
import pandas as pd
data = pd.read_csv('../Original Data/tb.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5769 entries, 0 to 5768
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    5769 non-null   int64
 1   iso2          5746 non-null   object
 2   year          5769 non-null   int64
 3   new_sp        3081 non-null   float64
 4   new_sp_m04    392 non-null    float64
 5   new_sp_m514   401 non-null    float64
 6   new_sp_m014   2381 non-null   float64
 7   new_sp_m1524  2407 non-null   float64
 8   new_sp_m2534  2408 non-null   float64
 9   new_sp_m3544  2415 non-null   float64
 10  new_sp_m4554  2421 non-null   float64
 11  new_sp_m5564  2414 non-null   float64
 12  new_sp_m65    2408 non-null   float64
 13  new_sp_mu     273 non-null    float64
 14  new_sp_f04    393 non-null    float64
 15  new_sp_f514   404 non-null    float64
 16  new_sp_f014   2378 non-null   float64
 17  new_sp_f1524  2394 non-null   float64
 18  new_sp_f2534  2400 non-null   float64
 19  new_sp_f3544  2398 non-null   float64
 20  new_sp_f4554  2401 non-null   float64
 21  new_sp_f5564  2394 non-null   float64
 22  new_sp_f65    2396 non-null   float64
 23  new_sp_fu     272 non-null    float64
dtypes: float64(21), int64(2), object(1)
memory usage: 1.1+ MB

## Tidy Data

In [11]:
data.drop(columns=['Unnamed: 0','new_sp_mu','new_sp_fu','new_sp'], inplace=True)
data.rename(columns={'iso2':'kraj','year':'rok'}, inplace=True)


data = pd.melt(data, id_vars = ['kraj', 'rok'],var_name='mix', value_name='wystąpień')
data.head()

data = data[data['wystąpień'] != '---']
data['płeć'] = data['mix'].str[7]
data['wiek'] = data['mix'].str[8:].map({
    '04': '0-4',
    '514': '5-14',
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+'
})
data.drop(columns=['mix'], inplace=True)

data = data[['kraj','płeć', 'wiek', 'rok', 'wystąpień']]

print(data.head(10))
print(data.tail(10))

  kraj płeć wiek   rok  wystąpień
0   AD    m  0-4  1989        NaN
1   AD    m  0-4  1990        NaN
2   AD    m  0-4  1991        NaN
3   AD    m  0-4  1992        NaN
4   AD    m  0-4  1993        NaN
5   AD    m  0-4  1994        NaN
6   AD    m  0-4  1996        NaN
7   AD    m  0-4  1997        NaN
8   AD    m  0-4  1998        NaN
9   AD    m  0-4  1999        NaN
       kraj płeć wiek   rok  wystąpień
103832   ZW    f  65+  1999        NaN
103833   ZW    f  65+  2000        NaN
103834   ZW    f  65+  2001        NaN
103835   ZW    f  65+  2002       65.0
103836   ZW    f  65+  2003      114.0
103837   ZW    f  65+  2004      111.0
103838   ZW    f  65+  2005      603.0
103839   ZW    f  65+  2006       96.0
103840   ZW    f  65+  2007       90.0
103841   ZW    f  65+  2008      105.0

## Zapis uporządkwaych danych

In [ ]:
data.dropna(inplace=True) 
data.to_csv('../Analysis Data/tb_tidy.csv', index=False)